/datasets/
/json_files/
/misc/
**/shared_storage/datasets/
**/__pycache__/
**/lightning_logs/
**/.env
**/tmp*/
**/my_data/
**/build/
**/ai4ef_train_app_tests/
**/ai4ef_train_app.egg-info/
/postgrest-openapi-ro.yaml
/Makefile
**/backup/
**/data_mount
/appstore-docker-compose.yml
Dockerfile.train-app
Dockerfile.model-app
Dockerfile.unified